@page "/Eventos"
@inject EventosService eventoService
@inject NavigationManager nav
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<AuthorizeView>
    <Authorized>
<PageTitle>Eventos</PageTitle>
    <div class="container">
        <div class="card shadow-lg">
            <div class="card header">
            </div>
            <div class="card-body">
                <h5 class="text-center">Mis Eventos</h5>
                <div class="row">
                    <div class="col-3">
                        <InputSelect class="form-select" @bind-Value="@Filtro">
                            <option value="" selected disabled>Elija una opci&oacute;n</option>
                        </InputSelect>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                            </div>
                            <input class="form-control" @bind="ValorFiltro" placeholder="Buscar"/>
                            <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                            <a href="/Evento/Create" class="btn btn-success">
                                <span class="bi bi-plus-square"></span> Crear
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead class="table table-striped text-black">
                    <tr>
                        <th>EventoId</th>
                        <th>Categor&iacute;a</th>
                        <th>Descripci&oacute;n</th>
                        <th>Direcci&oacute;n</th>
                        <th>Fecha Evento</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    @*Clientes*@
                    @foreach (var evento in ListaEventos)
                    {
                        <tr>
                            <td>@evento.EventoId</td>
                            <td>@evento.Categoria</td>
                            <td>@evento.Direccion</td>
                            <td>@evento.Descripcion</td>
                            <td>@evento.FechaEvento.ToShortDateString()</td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary bi bi-pencil-square" href="/Evento/Edit/@evento.EventoId"></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </Authorized>
</AuthorizeView>

@code
{
    public List<Eventos> ListaEventos { get; set; } = new List<Eventos>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaEventos = await eventoService.Listar(e => e.EventoId > 0);
    }

    @*Buscar técnicos según el filtro*@
    private async Task Buscar()
    {
        if (Filtro == "ClienteId")
        {
            if (int.TryParse(ValorFiltro, out int clienteId))
            {
                ListaEventos = await eventoService
                    .Listar(c => c.ClienteId == clienteId);
            }


        }
    }

    @*Metodo Restablecer para restablecer filtros y clientes*@
    private async Task Restablecer()
    {
        ListaEventos = await eventoService.Listar(c => c.ClienteId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

}